.login-container-wrapper {
  padding: 20px;
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  background-color: var(--third-color);
}

.login-container h2 {
  text-align: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container form div {
  margin-bottom: 15px;
}

.login-container form label {
  margin-bottom: 5px;
}

.login-container form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container form button:hover {
  background-color: #0056b3;
}